<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/styles/admin/index.css">
</head>
<body style="margin: 0; padding: 0;"> 

  <header style="width: 100%; padding: 0.75em 0.1em; display: flex; align-items: center; border: 4px solid black;">
    <div style="display: flex; text-align: center; font-size: 1.2em; padding-left: 0.8em; flex: 15%;">
      <a href="../" style="margin: 0.4em 0.6em; font-size: 1.6em; font-weight: bold;">&#10094; INAPOI</a>
    </div>
    <nav style="flex: 85%;">
      <ul style="font-size: 1.6em; display: flex; justify-content: space-between; padding: 0 5em 0 8em; list-style-type: none;">
        <li style="background-color: gray;"><a href="/admin?idAngajat=<%= idAngajat %>">LOG</a></li>
        <li><a href="/admin/angajati?idAngajat=<%= idAngajat %>">ANGAJATI</a></li>
        <li><a href="/admin/operatii?idAngajat=<%= idAngajat %>">OPERATII</a></li>
        <li><a href="/admin/utilaje?idAngajat=<%= idAngajat %>">UTILAJE</a></li>
      </ul>
    </nav>
  </header>

    <div class="cutiuta">
      <section class="lista">
        <% loturiInCurs.forEach(lot=> { %>
          <div class="element">
            <div class="div-stanga">
              COMANDA #<%= lot.Cod_Intern %>
            </div>
            <div class="div-dreapta">
              <div style="width: 11vw; display: flex; justify-content: end;">
                IN LUCRU
                <img src="/icons/in-lucru.png">
              </div>
              <div style="width: 5vw; display: flex; justify-content: end;">
                <button><img style="width:2em; height: 2em;" src="/icons/info.png"></button>
              </div>
            </div>
          </div>
        <% }); %>
      </section>
    </div>

</body>
</html>