
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/admin/operatii.css">
  <title>Document</title>
</head>
<body> 
  <header>
    <div class="div-buton-inapoi">
      <a href="../" class="buton-inapoi">&#10094; INAPOI</a>
    </div>
    <nav class="nav-header">
      <ul>
        <li><a href="./?idAngajat=<%= idAngajat %>">LOG</a></li>
        <li ><a href="./angajati?idAngajat=<%= idAngajat %>">ANGAJATI</a></li>
        <li><a href="./operatii?idAngajat=<%= idAngajat %>">OPERATII</a></li>
        <li class="highlight"><a href="./utilaj?idAngajat=<%= idAngajat %>"">UTILAJE</a></li>
        <li><a href="./rtsp?idAngajat=<%= idAngajat %>">RTSP-URI</a></li>
      </ul>
    </nav>
  </header>

  <section class="sectiune">

    <div style="display: flex; justify-content: space-between;">

      <div class="subsectiune" style="flex: 1.5;">

        <div class="div-buton-adaugare">
          <p>NUMAR UTILAJE: <%= Utilaje.length %> </p>
          <input type="text" placeholder="Cauta utilaj dupa nume">
        </div>

        <div class="big-daddy-scroll">
          <% Utilaje.forEach(utilaj => { %>
            <div class="element-meniu">
              <div class="div-stanga">
                <img src="/icons/Utilaje_icon.png">
                <div class="container">
                  <%= utilaj.nume %> <br>
                </div>
              </div>
              <div class="div-dreapta">
                <img class="roata" src="/icons/cog.png">
                <button></button>

                <img class="gunoi" src="/icons/trash.png">
                <form method="POST" action="./sterge-utilaj?idAngajat=<%= idAngajat %>">
                  <input type="hidden" name="nume" value="<%= utilaj.nume %>">
                  <button type="submit"></button>
                </form>
              </div>
            </div>
          <% }); %>
        </div>
      </div>

      <div class="subsectiune" style="flex: 1; margin: 3em 5em 0 0; text-align: center;">
        <form class="adauga" method="POST" action="./utilaje?idAngajat=<%= idAngajat %>">
          
          <label for="nume">INTRODUCETI NUME UTILAJ</label>
          <input type="text" name="nume" style="margin-bottom: 1rem;">

          <div class="div-buton">
            <button href="./" style="margin-right: 1rem;">ANULATI</button>
            <button type="submit">INTRODUCETI</button> 
          </div>

        </form>
      </div>

    </div>

  </section>
</body>
</html>