
 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comanda Noua</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
  
  <form method="POST" action="./comanda-noua" style="display: flex; margin-top: 2em;">
    <label for="numarComanda"></label>
    <input type="text" name="numarComanda" placeholder="INTRODUCETI NUMARUL DE COMANDA" style="height: 2em; width: 20em; margin-right: 2em; text-align: center;">

    <button type="submit">DESCHIDETI COMANDA</button>
  </form>

  <section style="display: flex; flex-direction: column; align-items: center;">
  
    <p style="font-size: 20px;">COMENZI IN CURS DE DESCHIDERE</p>
  
    <% comenziInCreare.forEach(comanda => { %>
      <div style="width: 85%; display: flex; flex-direction: column; align-items:  center; border-radius: 1em; border: 2px solid black; background-color: gray;">


        <div style="display: flex; justify-content: center;">
          <%= comanda.Numar_comanda %>
          <form method="POST" action="/operator/sterge-comanda">
            <input type="hidden" id="id" name="id" value="<%= comanda.Numar_comanda %>">
            <button type="submit">STERGE COMANDA</button>
          </form>
          <form method="POST" action="/operator/redir">
            <input type="hidden" name="numar" value="<%= comanda.Numar_comanda %>">
            <button type="submit">ADAUGA PIESA</button>
          </form>
        </div>

        <br>

        <div style="display: flex; flex-direction: column; align-items: center;">
          <% vectorPiese = comanda.Piese; %>
          <% vectorPiese.forEach(id => { %>
            <div style="display: flex;">
              <% bazaPieseInCurs.forEach(piesa => { %>
                <% const yes = piesa._id; %>
                <% if (yes.toString() === id) { %>
                  <%= piesa.cantitateaTotala %> x <%= piesa.nume %>
                  <form style="margin-left: 1em;" method="POST" action="/operator/sterge-piesa">
                    <input type="hidden" id="id" name="id" value="<%= piesa._id %>">
                    <button type="submit">Sterge Piesa</button>
                  </form>
                <% } %>
              <% }); %>
            </div>
          <% }); %>
        </div>

        <form method="POST" action="deschide-comanda">
          <input type="hidden" name="numarComanda" value="<%= comanda.Numar_comanda %>">
          <button type="submit">DESCHIDE COMANDA</button>
        </form>

      </div>

    <% }); %>
  
  </section>

</body>
</html>