

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/angajat/operatii-piesa.css">
  <title>Operatii Piesa</title>
</head>
<body style="margin-top:2em; margin-bottom: 1em; display: flex; flex-direction: column; align-items: center;">
  
  <div class="form-comanda">
    <p style="font-size: 40px; font-weight: bold; display: inline; margin-top: 2em;"> SELECTATI OPERATIA </p>

    <div class="mini-casuta">

      <% let vectorOperatii = piesaCurenta.stadiuOperatie ; %>
      <% let operatiaCurenta = 1; %>
      <% while (piesaCurenta.stadiuOperatie[operatiaCurenta] === "NULL" || piesaCurenta.stadiuOperatie[operatiaCurenta] === "Finalizata") { %>
        <% operatiaCurenta++; %>
      <% } %>
      <% let operatiaPrecedenta = operatiaCurenta - 1; %>
      <% while (operatiaPrecedenta > 0 && piesaCurenta.stadiuOperatie[operatiaPrecedenta] !== "Finalizata") { %>
        <% operatiaPrecedenta--; %>
      <% } %>

      <% if (piesaCurenta.cantitatePieseInCurs[operatiaCurenta] > 0) { %>
        <form method="POST" action="./operatii-piesa">
          <input type="hidden" name="idAngajat" value="<%= idAngajat %>">
          <input type="hidden" name="idPiesa" value="<%= piesaCurenta._id %>">
          <input type="hidden" name="operatieCurenta" value="<%= operatiaCurenta %>">
          <input type="hidden" name="tipOperatie" value="Finalizare">
          <button type="submit">Finalizati <%= denumiriOperatii[operatiaCurenta] %> <br> pentru <%= piesaCurenta.cantitatePieseInCurs[operatiaCurenta]%> x <%= piesaCurenta.Denumire %></button>
        </form>
      <% } else if (piesaCurenta.cantitatePieseFinalizate[operatiaPrecedenta] > 0 && piesaCurenta.stadiuOperatie[operatiaCurenta] !== "In lucru" ) { %>
        <% if (denumiriOperatii[operatiaCurenta].includes("Control") || denumiriOperatii[operatiaCurenta].includes("Receptie") || denumiriOperatii[operatiaCurenta].includes("Eliberare")) { %>
          <form method="POST" action="./operatii-piesa">
            <input type="hidden" name="idAngajat" value="<%= idAngajat %>">
            <input type="hidden" name="idPiesa" value="<%= piesaCurenta._id %>">
            <input type="hidden" name="operatieCurenta" value="<%= operatiaCurenta %>">
            <input type="hidden" name="tipOperatie" value="InitiereFinalizare">
            <button type="submit">Initiaza <%= denumiriOperatii[operatiaCurenta] %> <br> pentru <%= piesaCurenta.cantitatePieseFinalizate[operatiaPrecedenta]%> x <%= piesaCurenta.Denumire %></button>
          </form>
        <% } else { %>
          <% if (piesaCurenta.setupTerminat[operatiaCurenta] === true || piesaCurenta.setupTerminat[operatiaCurenta] === null) { %>
            <form method="POST" action="./operatii-piesa">
              <input type="hidden" name="idAngajat" value="<%= idAngajat %>">
              <input type="hidden" name="idPiesa" value="<%= piesaCurenta._id %>">
              <input type="hidden" name="operatieCurenta" value="<%= operatiaCurenta %>">
              <input type="hidden" name="tipOperatie" value="Initiere">
              <button type="submit">Initiaza <%= denumiriOperatii[operatiaCurenta] %> <br> pentru <%= piesaCurenta.cantitatePieseFinalizate[operatiaPrecedenta]%> x <%= piesaCurenta.Denumire %></button>
            </form>
          <% } else if (piesaCurenta.setupTerminat[operatiaCurenta] === false) { %>
            <form method="POST" action="./operatii-piesa">
              <input type="hidden" name="idAngajat" value="<%= idAngajat %>">
              <input type="hidden" name="idPiesa" value="<%= piesaCurenta._id %>">
              <input type="hidden" name="operatieCurenta" value="<%= operatiaCurenta %>">
              <input type="hidden" name="tipOperatie" value="Setup">
              <button type="submit">Initiati setup pentru operatia de <br> <%= denumiriOperatii[operatiaCurenta] %> <%= piesaCurenta.cantitatePieseFinalizate[operatiaPrecedenta]%> x <%= piesaCurenta.Denumire %></button>
            </form>
          <% } %>
        <% } %>
      <% } %>
      <% console.log(operatiaCurenta, operatiaPrecedenta) %>
    </div>

  </div>

  </div>

</body>
</html>